
body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
  margin:0;
  padding:0;
  /* background-color:#f0f0f0; */
  font-family:Muli, sans-serif;
  color:#444;
}
ul {
  list-style:none;
  margin-top:0;
  padding:0;
}
a {
  cursor:pointer;
  display:block;
  align-self: center;
  color:#676767;
  text-decoration:none;
}
.bckg {
  background-color:#383B42;
  box-shadow:-4px 0px 10px rgba(14, 14, 14, 0.48) inset;
  width:200px;
  height:100%;
  position:fixed;
  left:0;
  top:0;
}
h1 {
    text-align: center;
    font-weight: 600;
    color: #F6F6EF;
    line-height:60px;
    margin:0;
    font-size:26px;
    letter-spacing:2px;

    /* margin-top: 5px; */
    /* border-top:1px solid rgba(101, 116, 134, 0.57); */
    /* box-shadow: 20px 20px 20p x rgb(143, 181, 229); */
}
h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 3px;
  color: #919191;
  font-weight: normal;
  padding-left: 40px;
  line-height: 60px;
  text-shadow: 1px 1px 2px #fff;
  position: relative;
  flex:1;
  -webkit-flex:1;
  -ms-flex:1;
  
  &:before {
    content:'';
    width: 36px;
    height: 36px;
    position: absolute;
    left: -19px;
    top: 12px;
    background-color:#34363A;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
  }
}
h3 {
  font-size:17px;
  margin:0;
  line-height: 40px;
  color: #555;
  cursor:pointer;
  position:relative;
}

li,#acc{
  height: 80px;
}

header {
  width:200px;
  height:100%;
  float:left;
  position:relative;
  z-index:99;
  font-weight: 700;
  
  & nav ul li {
    /* justify-content: center; */
    /* border-bottom:1px solid #2E3036; */
    padding-left:48px;
    display: flex;
    transition:all 0.6s;

    /* border-top:1px solid #2E3036; */
      
      &:hover {
            /* border-top:1px solid #2E3036; */
        /* background-color: #454952; */
        transition: all 0.6s;
        /* border-bottom: 1px solid #797979; */
        background: linear-gradient(to right,#EECD0C, #0094FF);

      }
      
      &:hover a {
        color:#fff;
        transition:all 0.6s;
      }
      
      & a {
        line-height:55px;
        font-size:12px;
        position:relative;
        letter-spacing:1px;
        transition:all 0.6s;
      
        &:before {
          font-family: 'entypo', sans-serif;
          font-size:20px;
          position:absolute;
          left:-32px;
        }
      }
    
      /* &:first-child a:before {content:"\268f";}
      &:nth-child(2) a:before {content:"\1f465";}
      &:nth-child(3) a:before {content:"\1f4c5";}
      &:nth-child(4) a:before {content:"\e771";}
      &:nth-child(5) a:before {content:"\2699";}
      &:nth-child(6) a:before {content:"\1f50d";} */
  }
}

main {
  flex:1;
  -webkit-flex:1;
  -ms-flex:1;
}
.title {
  /* background-color: #fff; */
  /* border-bottom: 1px solid #C0C1C0; */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
  
  
  & a {
    color: #AAA;
    width: auto;
    margin: 0 20px;
    float: right;
    line-height: 62px;
    position:relative;
    text-decoration:none;
    transition:all .5s;
    
    &:before {
      content:"\1f464";
      font-size: 28px;
      position:absolute;
      right:-50px;
      font-family: 'entypo';
    }
  }
}

a:hover {
  color:#33526B;
  transition:all .5s;
}

.larg {
  max-width:960px;
  margin:30px auto;
  padding:0 30px;
  
  & div {
    background-color: #F7F7F7;
    border: 1px solid #E2E2E2;
    padding: 0 20px;
    margin:15px 0;

    &:hover {
        background-color:#fafafa;
    }
    
    h3 span {
      font-family: 'entypo';
      font-size:19px;
      position:absolute;
      right:0;
      transition:all .6s;
    
      &.close {
        -webkit-transform:rotate(180deg);
        transition:all .5s;
      }
    }
    
    & p {
      display:none;
      margin-left:10px;
      padding:0 15px;
      border-left:1px solid #ccc;
    }
  }
}




#contact {
  /* overflow: auto; */
  display: flex;
  justify-content: center;
  margin-top: 7vh;
}
#contact #form {
  width:410px;
  float:left;
}
#contact #form h2 {
  font: 48px 'Bree Serif', Georgia, serif;
}
#contact #form span {
  display:block;
  float:left;
  width:100px;
  padding-top:5px;
  /* font: 14px/16px'Bree Serif', Georgia, serif; */
}
#contact #form input {
  float:left;
  width:255px;
  border:0px;
  color:#ffffff;
  background:#222222 ;

  padding:10px 10px 10px 30px;
  /* font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif; */
  margin-bottom:10px;
}
#contact #form textarea {
  float:left;
  border:0px;
  width:255px;
  height:140px;
  padding:10px 10px 10px 30px;
  /* font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif; */
  color:#f0f0f0;
  resize: none;
}
#contact #form input.name {
  background:#222222 
}
#contact #form input.email {
  background:#222222 
}
#contact #form input.captcha {
  background:#222222 
}
#contact #form textarea.message {
    background:#222222 

}
#contact #form input.submit {
  cursor: pointer;
  width:85px;
  height:30px;
  float:right;
  padding:0px 0px 5px 0px;
  margin:10px 16px 0px 0px;
  background:#222222 ;
  color:#F1F1F1;
  font: 14px/16px'Bree Serif', Georgia, serif;
}
#contact  span{
  width: 44px;
}
#contact input{
  margin: 5px 0 0;
  padding: 0;
  border: medium none;
  cursor: pointer;
  width: 15px;
}


.button.-dark{
  padding-inline: 25px;
 background-color: #000; 
 border: none;
  /* font-size: 18px; */
  /* border-radius: 10px; */

  color: #fff;

} 

.button.-dark:hover{
  cursor: pointer;
  background-color: #1c1c1c;
}

.button.-black{
/* width: 100px; */
/* height: 80px; */
padding: 5px;
margin: 10px;
color: #222222;
border-color: #222222;
background-color: silver;
display: flex;
text-align: center;
text:center;


}