.ctrlogin{
	width: 100vw;
	justify-content: center;
	display: flex;
	min-height:80vh ;
}


#scrollbar1{
	display: flex;
	justify-content: center;
	/* background-color: aqua; */
width: 50%;
height: 50%;
align-self: center;
}

.iinput-group{
	width: 80%;
	border-color: #9fc3ff !important;
	/* border-color: linear-gradient(to right,#EECD0C, #0094FF) !important; */

	border: solid;
	border-radius: 35px;
	padding: 35px;
	border-width: 5px;
	
}
.inp{
width: 100%;
display: flex;
margin-top: 20px;
/* background-color: bisque; */
	/* margin: 40px; */
}

.inp input{
	/* margin-left: 15px; */
	/* background-color: #ffffff; */
	/* color: rgb(0, 0, 0); */
	font-size: 15px;
	border: solid !important;
	border-width: 0px !important;
	border-radius: 5px;


}
.inp img{
padding: 10px;

}
.cn{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.submit-btn{
	float: left;height:40px;margin-top: 30px ;padding-inline:100px;
	background-color: #8fb5e5;border-radius: 10px;
}

.btn {
	margin-top: 20px;
	padding: 10px 40px;
	font-size: 16px;
	color: #f1f1f1;
	background: linear-gradient(to right,#EECD0C, #0094FF);
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	margin-left: 20px;
	cursor: pointer;
	transition: opacity .3s linear;	
}
 .btn:hover {
	opacity: .7;
}