


/* Full-width input fields */
input {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


input:focus, input:focus {
  background-color: #ddd;
  outline: none;
}


/* Set a style for the submit button */
.registerbtn {
    
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 95%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add padding to containers */
.crrr {
    padding: 16px;
    background-color: white;
  }
/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
