
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Pour éviter la barre de défilement horizontale */
}a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #8FB5E5 ;
    color:white;
    padding:0% 1%;
    box-shadow: 0 2px 5px rgba(77, 138, 199, 0.793);
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    
}

.menu-left, .menu-right, .logo {
    display: flex;
    align-items: center;	
}

.menu-right{
    padding-right: 2%;
}

.logo img {
    max-height: 100px;
}


.cta-button {
    background-color: #007bff;
    padding: 10px 20px;  
  text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background: linear-gradient(to right,#EECD0C, #0094FF);
}


a:hover {
    color: #ddd;
}

.navbar a:not(.cta-button) {
    padding: 10px 15px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.navbar a:not(.cta-button):hover {
    background: linear-gradient(to right,#EECD0C, #0094FF);
    border-radius: 5px;
}



/* The dropdown container */
.dropdown {
    float: right;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.808);
    text-align: center;
    padding: 24px 16px;
    border: none;
    outline: none;
    background-color:yellow;
    margin: 0; /* Important for vertical align on mobile phones */
    margin:auto;
  }
  

  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#8FB5E5 ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;/* Permet de positionner le dropdown au-dessus des autres éléments */
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: lighter;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block; /* On Affiche le contenu du dropdown lorsque le bouton est survolé */
  }


.head-container {
	margin-top:min(10vw, 30px) ;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.quote {
	width: 600px;
	transform: translateY(-50px);
}
.quote h5 {
    margin-top: 20px;
    color: black;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.quote p {
	font-size: 30px;
	color: #2e2e2e;
}
.quote .play {
	margin-top: 20px;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.quote .play img {
	width: 45px;
	cursor: pointer;
	filter: drop-shadow(0 0 10px #0002);
}
.quote .play span a{
	margin-left: 10px;
	font-size: 20px;
	font-weight: 900;
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

.svg-image img{
	width: 500px;
	filter: drop-shadow(0 20px 10px rgba(0,0,0,0.2));
}


/*Formation initiales Section*/
.service-swipe {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url("../images/icon/etudiants-angle-eleve-apprenant-bibliotheque.jpg");
	background-size: cover;
	background-attachment: fixed;
}
.service-swipe .s-card img {
	width: 100px;
}
.service-swipe a {
	padding: 0;
	margin: 40px 10px;
}
.service-swipe .s-card {
	display: flex;
	justify-content: space-around;
	padding: 0%;
	align-items: center;
	text-align: center;
	width: 350px;
	height: 200px;
	box-shadow: inset 0 0 20px rgba(255,255,255,0.05),
					0 0 50px rgba(0,0,0,0.8);
	border-radius: 5px;
	cursor: pointer;
	transition-duration: .5s;
}
.service-swipe .s-card p {
	color: #f2f2f2;
	font-size: 1.2em;
	font-family: 'Open Sans',sans-serif;
}
.service-swipe .s-card:hover {
	box-shadow: 0 0 50px rgba(255,255,255,0.8);
	transform: translateY(-10px);
}

/*FOOTER*/
footer {
	color: #E5E8EF;
	background: #8FB5E5;
	padding: 50px 30; 
}
footer .footer-container {
	max-width: 1300px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}


footer .social-media a{
	margin-right: -15px;
	font-size: 22px;
	text-decoration: none;
}
footer .right-col h1{
	font-size: 26px;
}
footer .border{
	width: 100px;
	height: 4px;
	background: linear-gradient(to right,#EECD0C, #0094FF);
	margin: 2px;
}
footer .newsletter-form {
	display: flex;
	justify-content: center;
	align-items: center;
}
footer input::placeholder {
  color: #8FB5E5 ;
  font-size:smaller;
}
footer .txtb {
	flex: 1;
	padding: 10px 40px;
	font-size: 16px;
	background:white;
	border: none;
	font-weight: 700;
	border-radius: 5px;
	min-width: 300px;
	margin-top: 20px;
	color:#8FB5E5 ;
    outline: none; 

}
footer .btn {
	margin-top: 20px;
	padding: 10px 40px;
	font-size: 16px;
	color: #f1f1f1;
	background: linear-gradient(to right,#EECD0C, #0094FF);
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	margin-left: 20px;
	cursor: pointer;
	transition: opacity .3s linear;	
}
footer .btn:hover {
	opacity: .7;
}



.slideshow-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

img {
    object-fit: contain;
    max-width: 100%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: #0094FF;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
#s1and2{
    
        display: flex;
       width: auto;
        padding: 20px;
    

}
#announcement-section {
    border-radius: 10px;
    text-align: center;
    width: 30%;
    float: left;
    background-color: #8FB5E5;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-right: 3px solid #0778e9;
}

#announcement-list {
    list-style-type: none;
    padding: 0;
    cursor: pointer;
}

#announcement-list li {
    margin-bottom: 15px;
    border: 1px solid #0094FF;
    padding: 15px;
    background-color: #1ed9e0d4;
    transition: background-color 0.3s;
    border-radius: 5px;
}

#announcement-list li:hover {
    background: linear-gradient(to right,#EECD0C, #0094FF);
    box-shadow: 0 0 30px #0094FF ;
}

#details-section {
    width: 70%;
    float: right;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}

#details-content {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

h2 {
    color:#faffffea ;
    border-bottom: 2px solid #0094FF;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: inline-block;
    font-style :oblique;
    font-weight: bolder;
}

